:root{
    --main-color:var(--main-color)
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;

    /* grid */
    display: flex;
    flex-direction: column;

}

header{
flex: 20%;
padding: 5%;
display: flex;
flex-flow: row wrap;

}

.logo {
    flex: 30%;
    align-self: center;
}

.logo img {
    order: 1;
    max-height: 8vh;
}

h1 {
    flex: 70%;
    order: 2;
    align-self: flex-start;
}

nav {
    flex: 100%;
    order: 3;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

nav ul li {
    list-style-type: none;
}

#content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.cursorContainer {
    width: 80%;
    height: 2vh;
    margin: 2rem;
    background-color: lightgray;
    display: flex;
}

.cursor{
    flex-grow: 1;
    border: 1px solid white;
}

.active{
    background-color: lightblue;
}

#questions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question{
    margin :3rem;
}

.answerGroup {
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.firstAnswer {
    max-width: 5vw;
    align-self: center;
}

/* .answer {

} */

.navBtn {
    width: 70%;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;

}

footer {
    position: fixed;
    bottom: 0;    
    flex: 20%;
    width: 100%;;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.medias {
    flex: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mediaThumb {
    max-height: 2vh;
}

.carouselContainer{
    width: 50vw;
    height: 24vh;
    display: flex;
    flex-flow: row wrap;
}

.slideContainer {
    flex: 33%;
    width: 18vw;
    height: 16vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.slideContainer img {
    object-fit: contain;
    width: 100%;
    height: 80%;
}

.slideContainer p {
    margin-bottom: 0;
}

#topLeft {
    align-self: flex-end;
}

#top {
    top: 0;
    order: 1;
}

#topRight {
    align-self: flex-end;
    order: 2;
}

#botRight{
    order: 6;
}

#bottom{
    align-self: flex-end;
    order: 5;
}

#botLeft{
    order: 4;
}

.hidden{
    display: none;
}