:root {
    --background-color: #212121;
    --light-background-color: #343238;
    --dark-background-color: #030202;
    --main-color: #187d65;
    --secondary-color: #2ee7ba;
    --text-color: #cecece;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: "Montserrat", sans-serif;

    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up-header {
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

/* -> BURGER */

#menu-burger {
    position: absolute;
    left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#burger-icon,
#burger-icon::before,
#burger-icon::after {
    position: absolute;
    width: 1.5rem;
    height: .2rem;
    background-color: var(--main-color);
}

#burger-icon::before,
#burger-icon::after {
    content: '';
}

#burger-icon::before {
    top: -.5rem;
}

#burger-icon::after {
    top: .5rem;
}

h1 {
    flex: 100%;
    margin: 0;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: nowrap;
    color: var(--main-color);
}

#color-scheme {
    display: none;
    text-align: center;
}

#color-scheme img {

    width: 13%;
    /*
    filter: invert(36%) sepia(75%) saturate(415%) hue-rotate(115deg) brightness(94%) contrast(93%);
    */
}


/* -> BOTTOM CURVE */

.down-header {
    width: 100%;
    height: 5vh;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    pointer-events: none;
}

.logo::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 17%;
    height: 100%;
    background: url("/images/Vector10.svg") top left no-repeat;
    background-size: contain;
    top: -2px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.logo-container {
    width: 1rem;
    height: 2rem;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 auto;
    padding: .5rem 1rem;
    top: -2rem;
    right: 0;
    left: 0;
}

.logo img {
    max-height: 4vh;
}

/* PAGE */

#main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#content {
    position: relative;
    flex-grow: 1;
    height: fit-content;
    margin: 0 2rem 3.5rem 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    border: 3px solid var(--text-color);
    border-radius: 1.5rem;
}

h2 {
    font-weight: 500;
    text-align: center;
}

/* CURSOR */

.navTape {
    position: absolute;
    width: 80%;
    height: 2rem;
    top: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.cursorContainer {
    width: 80%;
    height: 1vh;
    display: flex;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 7px 2px var(--dark-background-color);
    z-index: 1;
    padding: .3rem;
}

.cursor {
    flex-grow: 1;
    border: 1px solid transparent;
}

#cursor0 {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /*
    box-shadow: 0px 0px 7px 2px white;
    */
}

#cursor9 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /*
    box-shadow: 0px 0px 7px 2px white;
    */
}

.active {
    background-color: var(--secondary-color);
}

.navBtn {
    width: 30%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

/* QUESTION */

#questions {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.firstQuestion {
    height: 20vh;
}

.question {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.question h2 {
    flex: 100%;
    font-size: 1rem;
    width: auto;
}

.question button {
    font-size: .8rem;
    padding: .4rem .5rem;
}

.firstQuestion h2 {
    flex: 100%;
}

.answerGroup {
    width: auto;
    display: flex;
    flex-flow: column;
    font-size: .8rem;
    justify-content: space-evenly;
}

.answer {
    margin-bottom: .8rem;
}

.answer img {
    max-height: 4vh;
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 2rem;
}

/* BUTTONS */

button {
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--light-background-color);
    border: 2px solid var(--text-color);
    border-radius: 60px;
}

.previous,
.next {
    border: none;
    background-color: var(--background-color);
    padding: 2%;
    z-index: 1;
}

/* CAROUSEL */

.carousel {
    overflow: hidden;
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    bottom: -3.4rem;
}

.carouselContent {
    height: 12vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    perspective: 1000px;
    background-color: var(--background-color);
}

.carouselContainer {
    transform-style: preserve-3d;
    transition: transform 1s;
}

/* -> CAROUSEL IMAGE */

/* TODO: adjust transistions of items */
.results {
    position: absolute;
    transform-style: preserve-3d;
    text-align: center;
}

.results .imgContainer {
    width: 20vw;
    height: 3vh;
}

.results .imgContainer img {
    object-fit: contain;
    /* full size
    height: 75%;
    width: 30%;
    */
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    border-radius: 15%;
    background-color: white;
}

.matchChart {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
}

.hidden {
    display: none;
}

/* Positions */

#result0 {
    transform: translateX(-50%) translateY(70%) rotateY(0deg) translateZ(350px);
}

#result1 {
    transform: translateX(-50%) translateY(70%) rotateY(60deg) translateZ(200px) rotateY(-60deg);
}

#result2 {
    transform: translateX(-50%) translateY(70%) rotateY(120deg) translateZ(200px) rotateY(-120deg);
}

#result3 {
    transform: translateX(-50%) translateY(70%) rotateY(180deg) translateZ(200px) rotateY(-120deg);
}

#result4 {
    transform: translateX(-50%) translateY(70%) rotateY(240deg) translateZ(200px) rotateY(120deg);
}

#result5 {
    transform: translateX(-50%) translateY(70%) rotateY(300deg) translateZ(200px) rotateY(60deg);
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

footer p {
    font-size: .4rem;
    margin: 0;
}

.medias {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* PHONE */

@media screen and (min-width:321px) and (max-width:425px) {
    #menu-burger {
        left: 2rem;
    }
}

/* TABLET */

@media screen and (min-width:426px) {

    /* HEADER */
    .up-header {
        height: 12vh;
    }

    #menu-burger {
        left: 4rem;
    }

    #burger-icon,
    #burger-icon::before,
    #burger-icon::after {
        width: 2rem;
        height: 0.25rem;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-right: 3.5rem;
    }

    /* PAGE */
    .cursorContainer {
        height: 2vh;
    }

    #content {
        flex-flow: row wrap;
        justify-content: center;
    }

    #questions {
        margin: 5rem 0;
        ;
    }

    .question h2 {
        margin: 1rem;
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }

    .question button {
        padding: 0.8rem 1rem;
        margin: .8rem .4rem;
    }

    .answerGroup {
        flex-flow: row wrap;
        min-width: 100%;
    }

    .answer {
        margin-bottom: .5rem;
    }

    .carousel {
        bottom: -5rem;
    }

    .carouselContent {
        height: 18vh;
    }

    .results .imgContainer {
        height: 6vh;
    }

    .results .imgContainer img {
        padding: 1rem;
    }

    /* FOOTER */

    footer p {
        font-size: .6rem;
        margin: 0;
    }
}

/* LAPTOP */

@media screen and (min-width:1024px) {

    .logo {
        pointer-events: initial;
    }

    .logo-container {
        display: flex;
    }

    #content {
        margin: 4rem;
        margin-top: 0;
    }

    #auestions {
        margin: 7rem 0;
    }

}

@media screen and (min-width:2500px) {

    .logo {
        pointer-events: initial;
    }

    .logo-container {
        display: flex;
    }

    #content {
        margin: 4rem;
        margin-top: 0;
    }

    #questions {
        margin: 12rem 0;
    }

    .carousel {
        bottom: -7rem;
    }

}