:root {
    --background-color: #212121;
    --light-background-color: #343238;
    --dark-background-color: #030202;
    --main-color: #187d65;
    --secondary-color: #2ee7ba;
    --visited-color: #214A7E;
    --text-color: #cecece;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: "Montserrat", sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--visited-color);
}

.hidden {
    display: none;
}

.blur {
    filter: blur(.3rem);
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up-header {
    position: relative;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

/* -> BURGER */
.burger {
    position: absolute;
    top: 1.35rem;
    left: 0;
}

#menu-burger {
    position: absolute;
    left: 1rem;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#burger-icon,
#burger-icon::before,
#burger-icon::after {
    position: absolute;
    width: 1.5rem;
    height: .2rem;
    z-index: 0;
    background-color: var(--main-color);
    transition: all .2s ease-in-out;
}

#burger-icon::before,
#burger-icon::after {
    content: '';
}

#burger-icon::before {
    top: -.5rem;
}

#burger-icon::after {
    top: .5rem;
}

.burger-content {
    position: absolute;
    width: max-content;
    margin: 0;
    padding: .5rem .8rem;
    top: 4rem;
    left: -12rem;
    list-style-type: none;
    background-color: transparent;
    border-radius: .5rem;
    transition: all .8s ease-in-out;
}

.burger-content a {
    color: transparent;
    transition: all 1s ease-in-out;
}

.burger-content li:nth-child(-n + 3) {
    margin-bottom: .5rem;
}

/* ANIMATION */

#menu-burger.open #burger-icon {
    background-color: transparent;
}

#menu-burger.open #burger-icon::before {
    transform: translateY(.5rem) rotate(45deg);
}

#menu-burger.open #burger-icon::after {
    transform: translateY(-.5rem) rotate(-45deg);
}

.burger-content.open {
    background-color: var(--secondary-color);
    transform: translateX(14rem);
}

.burger-content.open a {
    color: inherit;
}

h1 {
    flex: 100%;
    margin: 0;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: nowrap;
    color: var(--main-color);
}

#color-scheme {
    display: none;
    text-align: center;
}

#color-scheme img {
    width: 13%;
    filter: invert(36%) sepia(75%) saturate(415%) hue-rotate(115deg) brightness(94%) contrast(93%);
}


/* -> BOTTOM CURVE */

.down-header {
    width: 100%;
    height: 5vh;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    pointer-events: none;
}

.logo::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 17%;
    height: 100%;
    background: url("/images/Vector10.svg") top left no-repeat;
    background-size: contain;
    top: -2px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.logo-container {
    width: 1rem;
    height: 2rem;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    border-radius: 50%;
    margin: 0 auto;
    padding: .5rem 1rem;
    bottom: 1.5rem;
    right: 0;
    left: 0;
}

.logo img {
    max-height: 4vh;
}

/* PAGE */

#ap {
    color: var(--text-color);
    margin: 0 2rem 3.5rem 2rem;
}

#main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#content {
    position: relative;
    margin: 0 2rem 8rem 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    flex: 1 0 20vh;
    justify-content: start;
    align-items: center;
    border: 3px solid var(--text-color);
    border-radius: 1.5rem;
}

h2 {
    font-weight: 500;
    text-align: center;
}

/* CURSOR */

.navTape {
    position: absolute;
    width: 80%;
    height: 2rem;
    top: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.cursorContainer {
    width: 80%;
    height: 1vh;
    display: flex;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 7px 2px var(--dark-background-color);
    z-index: 1;
    padding: .3rem;
}

.cursor {
    flex-grow: 1;
    border: 1px solid transparent;
}

#cursor0 {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#cursor9 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.active {
    background-color: var(--secondary-color);
}

.navBtn {
    width: 30%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

/* QUESTION */

#questions {
    position: relative;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.firstQuestion {
    height: 20vh;
}

.question {
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    color: var(--text-color);
}

.question.hiddenQuestion {
    flex-grow: .001;
    position: absolute;
    transform: translateX(-100vw);
    background-color: transparent;
    color: transparent;
}

.question.ariseQuestion {
    flex-grow: .001;
    position: absolute;
    transform: translateX(100vw);
}

.question h2 {
    flex: 100%;
    font-size: 1rem;
    width: auto;
}

.question button {
    font-size: .8rem;
    padding: .4rem .5rem;
}

.firstQuestion h2 {
    flex: 100%;
}

.answerGroup {
    width: auto;
    display: flex;
    flex-flow: column;
    font-size: .8rem;
    justify-content: space-evenly;
}

.answer {
    margin-bottom: .8rem;
}

.answer img {
    max-height: 4vh;
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 2rem;
}

/* BUTTONS */

button {
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--light-background-color);
    border: 2px solid var(--text-color);
    border-radius: 60px;
}

.carousel butto {
    background-color: var(--main-color);
}

.previous,
.next {
    flex: 10%;
    border: none;
    border-radius: 0;
    background-color: var(--background-color);
    padding: 2%;
    z-index: 1;
}

/* CAROUSEL */

.carousel {
    overflow: hidden;
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    bottom: -5.3rem;
}

.carouselContent {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}

.final {
    position: relative;
    width: 130%;
    height: 20vh;
    bottom: 0;
}

.resultInfos {
    height: 2rem;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.infos{
    position: absolute;
    color: transparent;
    flex-grow: 1;
}

.carouselContainer {
    flex: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background-color: var(--background-color);
}

/* -> CAROUSEL IMAGE */

.results {
    flex: 30%;
    position: absolute;
    text-align: center;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
}

.results .imgContainer {
    width: min-content;
    height: auto;
}

.results .imgContainer img {
    object-fit: contain;
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    border-radius: 15%;
    background-color: white;
}

/* Positions */

.visible{
    color: var(--secondary-color);
    transform: translateX(0vw);
}

#position0 {
    transform: translateX(0vw) translateZ(30vh);
}

#position1 {
    transform: translateX(25vw);
}

#position2 {
    transform: translateX(50vw);
   z-index: -1;
}

#position3 {
    transform: translateX(0vw);
    z-index: -1;
}

#position4 {
    transform: translateX(-50vw);
    z-index: -1;
}

#position5 {
    transform: translateX(-25vw);
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

footer p {
    font-size: .4rem;
    margin: .2rem 0;
}

.medias {
    width: 100%;
    margin-bottom: .3rem;
    display: flex;
    justify-content: space-evenly;
}

/* CGU */

#cguArticle {
    margin: 0 2rem 3.5rem 2rem;
}

/* POPUP */

#popUp {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popUp .close {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--text-color);
}

#popUpContainer {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-background-color);
    margin: 2rem;
    padding: 1rem;
}

.cookieMessage {
    position: relative;
}

.cookieMessage p {
    margin: 0.5rem 1rem;
}

.cguDropdown {
    width: 90%;
    height: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

#dropdownButton {
    flex-basis: 100%;
    border-radius: .3rem;
    margin: 1rem;
}

.dropdownContent {
    width: 70%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.popUpButtons button {
    text-transform: none;
    padding: 0.5rem
}



/* RESPONSIVE */
/* PHONE */

@media screen and (min-width:321px) and (max-width:425px) {
    #menu-burger {
        left: 2rem;
    }
}

/* TABLET */

@media screen and (min-width:426px) {

    /* HEADER */
    .up-header {
        height: 12vh;
    }

    #menu-burger {
        top: .8rem;
        left: 4rem;
        width: 2rem;
        height: 2rem;
    }

    #burger-icon,
    #burger-icon::before,
    #burger-icon::after {
        width: 2rem;
        height: 0.25rem;
    }

    .burger-content {
        top: 6rem;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
        padding: 0;
    }

    /* PAGE */
    .cursorContainer {
        height: 2vh;
    }

    #content {
        flex-flow: row wrap;
        justify-content: center;
    }

    #questions {
        margin: 5rem 0;
        ;
    }

    .question h2 {
        margin: 1rem;
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }

    .question button {
        padding: 0.8rem 1rem;
        margin: .8rem .4rem;
    }

    .answerGroup {
        flex-flow: row wrap;
        min-width: 100%;
    }

    .answer {
        margin-bottom: .5rem;
    }

    .carousel {
        bottom: -7rem;
    }

    .carouselContent {
        height: 18vh;
    }

    .results .imgContainer {
        height: 6vh;
    }

    .results .imgContainer img {
        padding: 1rem;
    }

    #position1{
        transform: translateX(20vw);
    }

    #position5{
        transform: translateX(-20vw);
    }
    .final {
        bottom: 7vh;
    }

    /* FOOTER */

    footer p {
        font-size: .6rem;
        margin: 0;
    }
}

/* LAPTOP */

@media screen and (min-width:1024px) {

    .logo {
        pointer-events: initial;
    }

    .logo-container {
        display: flex;
    }

    #content {
        margin: 4rem;
        margin-top: 0;
    }

    #questions {
        margin: 7rem 0;
    }
    .final {
        bottom: 12vh;
    }

}

@media screen and (min-width:2500px) {

    .logo {
        pointer-events: initial;
    }

    .logo-container {
        display: flex;
        width: 2rem;
        height: 3rem;
    }

    #menu-burger {
        top: 2rem;
    }

    .burger-content {
        top: 9rem;
    }

    #content {
        margin: 4rem;
        margin-top: 0;
    }

    #questions {
        margin: 12rem 0;
    }

    .carousel {
        bottom: 15vh;
    }

}